.mission {
  width: 192px;
  height: 119px;
  border: 1px solid #01b6e7;
  box-sizing: border-box;
  border-radius: 24px;
  display: flex;
  align-items: flex-end;

  &__wrapper {
    width: 100%;
    margin-bottom: 22px;
    text-align: center;
  }

  &__image {
  }
  &__name {
    padding: 0px;
    margin: 0px;
    font-family: Greenwich;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
  }
}
